/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto',sans-serif;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.stageContainer{
  width: 90%;
  max-width: 25em;
  margin: auto;
  padding: 6em;
}

.fieldset{
  display: flex;
  flex-direction: column;
}

.entryContainer{
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.entryContainer input{
  margin-right: 2%;
}